<!--<p>about works!</p>-->

<div class="container">
    <div class="text-center bg">
      <h1 >About Us</h1>
    </div>
    <div class="main-content">
      <div class="left-content">
        <h3 style="margin-bottom: 10px;">Our College</h3>
        <table>
          <tr>
              <td>Our Vision is to Contribute to socio-economic development of the nation by imparting</td>
              </tr>
               

              <tr>
               <td> “High Quality Technical Education" to the students of rural background in the country.</td>
          </tr>


        <tr>
            <td> Our Mission is to Realize the dream of building a great nation through development of </td>
        </tr>


        <tr>
              <td> rural students in a healthy environment of highly qualified faculties and boosting up </td>
        </tr>

        
        <tr>
               <td>their technical skills by providing excellent knowledge of engineering fundamentals and the best education in the country.</td> 
               
        </tr>
        
        </table>
      </div>
      <div class="right-content">
        <div>
        <h3 style="margin-bottom: 10px;">Contact us</h3>
        <p style="font-size: 20px"> Ashok nagar Maharashtra 110001<br></p>
      </div>
      <table>
      <tr>
        <td class="d-flex"><i class="fa fa-star checked" style="margin: 5px 0px 0 0;"></i><span style="font-size: 20px">+91 9876543210</span></td>
      </tr>
    <tr>
    <td class="d-flex"><i class="fa fa-star checked" style="margin: 5px 10px 0 0;"></i><span style="font-size: 20px">College@gmail.com</span></td>
    </tr>
     <tr>
        <td class="d-flex"><i class="fa fa-star checked" style="margin: 5px 10px 0 0;"></i><span style="font-size: 20px">www.collegemanagement.com</span></td>
      </tr>
      </table>
      </div>
    </div>
  </div>

