<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <a class="navbar-brand" routerLink="">College Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" >Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin" routerLinkActive="active">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="student" routerLinkActive="active">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="faculty" routerLinkActive="active">Faculty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="library" routerLinkActive="active">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active">About Us</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- footer -->
<footer class="text-center mt-2">
  <p>&copy; CollegeEducationSystem 2022. All right reserved</p>
</footer>