<h1>Faculty</h1>

<div class="w-50 mx-auto">
    <img  class="img" class="img-fluid" src="assets/images/image4.jpg" height="auto" width="100%" alt="">
    <form [formGroup]="Faculty" (ngSubmit)="onSubmit()">
        <div class="form-group my-3">
            <label class="mb-1">Name</label>
            <input type="text" class="form-control" formControlName="name" />
        </div>

        <div class="form-group my-3">
            <label class="mb-1">Age</label>
            <input type="number" class="form-control" formControlName="age" />
        </div>

        <div class="form-group my-3">
            <label class="mb-1">Course</label>
            <select class="form-control" formControlName="course">
                <option disabled selected value="">Select Course</option>
                <option *ngFor="let item of course" (click)="selectCosurse(item)">{{item.name}}</option>
            </select>
        </div>

        <div class="my-4">
            <button>Submit</button>
        </div>
    </form>

</div>